# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Database
*.sqlite3
*.db
instance/

# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db